 <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <div class="home_logo">
        <img src="./static/UNBIASIFY.png">
    </div>
    <div class="about">
        <p> Ever wondered how to eliminate gender biases created by Machine Learning? Worry no more!<br>
            Simply upload your dataset and the attribute you want us to predict, and allow us to Unbiasify your dataset!<br>
            You're now ready to predict your unbiased dataset!
    </div>
    <div class="buttons">
        <div class="column">
            <a href="./summary.html">  
                <button>Overview</button>  
            </a>
        </div>
        <div class="column">
            <a href="https://youtu.be/cw5M-5PP9H8">  
                <button>Watch Demo</button>  
            </a>
        </div>
        <div class="column">
            <a href="./prediction_page.html">  
                <button>Test Data</button>  
            </a>
        </div>
    </div>
    <div class="footer">
        <p> © Unbiasify - Riddhi Patel </p>
    </div>
</body>
</html>
