html{
    margin:0;
}
body{
    margin: 0;
    background: linear-gradient(#853595, #9b3284);;
}

.logo img{
    height: 50%;
    widht: 50%;
    padding: 100px 500px 0px 500px;
}
h1{
    text-align: center;
    color: #ffffff;
}


.abut{
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    padding: 100px 500px 0px 500px;
}